/* FONTS */
@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(/static/fonts/librebaskerville.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: 400;
    src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'), url(/static/fonts/librebaskerville_italic.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 700;
    src: local('Libre Baskerville Bold'), local('LibreBaskerville-Bold'), url(/static/fonts/librebaskerville_bold.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


body {
    margin: 0px;
    font-family: 'Libre Baskerville';
    text-shadow: 1px 1px 5px #bbb;
}

#content {
    width: 40em;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 3em;
    text-decoration: underline;
}

@media screen and (max-width: 720px) {
    #content {
        width: 80%;
    }
}

img {
    display: block;
    max-width: 35em;
    margin: 0 auto;
}

.fa-folder-o {
    width: 22px;
}

.back-arrow {
    font-size: 24px;
    position: absolute;
    top: 0px;
    left: 0px;
}
