<!doctype html>
<html>
	<head>
		{% block head %}
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="/static/base.css"></link>
		<link rel="stylesheet" href="/static/fa/css/font-awesome.min.css"></link>
		<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
			extensions: ["tex2jax.js"],
			jax: ["input/TeX", "output/SVG"],
			tex2jax: {
			  inlineMath: [ ['$','$'], ["\\(","\\)"] ],
			  displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
			  processEscapes: true
			},
		});
		</script>
	   <script type="text/javascript" src="/static/scripts/MathJax.js"></script>
		{% endblock %}
	</head>
	<body>
		{% block body %}

		{% endblock %}
	</body>
</html>
