{% extends "base.html" %}
{% block title %}Some dir{% endblock %}
{% block head %}
<!-- Head -->
{{ super() }}
<link rel="stylesheet" href="static/dir.css"></link>
{% endblock %}
{% block body %}
<div id="content">
    <h1>{{ dirname }}</h1>
    
    <ul id="file-list">
        {% for folder in folders %}
        <li><i class="fa fa-folder-o"></i> {{ folder }}</li>
        {% endfor %}
        
        {% for file in files %}
        <li><a href="{{ root }}/{{file.path}}"><i class="fa fa-file-text-o"></i> {{ file.title }}</a></li>
        {% endfor %} 
    </ul>
</div>
{% endblock %}
