{% extends "base.html" %}
{% block title %}Some dir{% endblock %}
{% block head %}
<!-- Head -->
{{ super() }}
<link rel="stylesheet" href="static/dir.css"></link>
{% endblock %}
{% block body %}
<div id="content">
    {% if root != "" %}
    <div class="back-arrow">
        <a href="/{{ parent }}"><i class="fa fa-chevron-left"></i></a>
    </div>
    {% endif %}
    <h1>{{ dirname }}</h1>
    
    <ul id="file-list">
        {% if folders == [] %}
        <li class="message">
            Empty
        </li>
        {% endif %}
        {% for folder in folders %}
        <li><a href="{{ root }}/{{ folder }}"><i class="fa fa-folder-o"></i> {{ folder }}</a></li>
        {% endfor %}
        
        {% for file in files %}
        <li><a href="{{ root }}/{{file.path}}"><i class="fa fa-file-text-o"></i> {{ file.title }}</a></li>
        {% endfor %} 
    </ul>
</div>
{% endblock %}
